<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{pageTitle}}</title>
        <meta name="description" content="{{pageDescription}}">
        <meta name="keywords" content="{{pageKeyword}}">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Subrata Ghosh">
        <link rel="canonical" href="{{#if pageUrl}}{{pageUrl}}{{else}}https://neherald.com/{{/if}}">
        
        <link href="ico/favicon.png" rel="shortcut icon">

        <!-- Facebook Media Card -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{pageTitle}}">
        <meta property="og:description" content="{{pageDescription}}">
        <meta property="og:url" content="{{pageUrl}}">
        {{#if imageCard}}
        <meta property="og:image" content="{{#if (eq (substring imageCard 0 4) 'http')}}{{imageCard}}{{else}}https://neherald.com{{imageCard}}{{/if}}">
        {{/if}}
        <meta property="og:site_name" content="Northeast Herald">
        {{#if publishedDate}}
        <meta property="article:published_time" content="{{publishedDate}}">
        {{/if}}
        {{#if articleAuthor}}
        <meta property="article:author" content="{{articleAuthor}}">
        {{/if}}
        
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@neheraldnews">
        <meta name="twitter:title" content="{{pageTitle}}">
        <meta name="twitter:description" content="{{pageDescription}}">
        {{#if imageCard}}
        <meta name="twitter:image" content="{{#if (eq (substring imageCard 0 4) 'http')}}{{imageCard}}{{else}}https://neherald.com{{imageCard}}{{/if}}">
        {{/if}}
   
        <meta name="google-site-verification" content="FK9NR0AATT321BoVLPzZEJhIEwIqs3m3Q_5OZbSu0cI">
        
        <!-- Local Business Schema -->
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "NewsMediaOrganization",
          "name": "Northeast Herald",
          "url": "https://neherald.com",
          "logo": "https://neherald.com/images/logo.png",
          "sameAs": [
            "https://www.facebook.com/neherald/",
            "https://twitter.com/neheraldnews"
          ],
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Agartala",
            "addressRegion": "Tripura",
            "addressCountry": "IN"
          }
        }
        </script>

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fontawesome/all.min.css">
        <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/magnific-popup/magnific-popup.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Serif">
        
        <!-- Template Style -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/modern-design.css">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2682479332426024" crossorigin="anonymous"></script>
      
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4PKRRJ1GE4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-4PKRRJ1GE4');
        </script>
    </head>

    <body style="background:#f6f6f6;">
        <div class="container-scroller">
            <div class="main-panel">
                {{> header}}
                <div class="content-wrapper">
                    {{{body}}}
                </div>
                {{> footer}}
            </div>
        </div>

        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/popper/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="/js/jquery.appear.js"></script>
        <script src="/js/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>
