{{!-- Breaking News --}}
{{>breaking}}
{{>topnews}}


  
  <section class="news-latest-posts" style="margin-top: 30px;">
    <div class="container" style="max-width: 1130px;">
      <div class="row">
          <div class="col-lg-12 col-md-12 order-lg-12" style="background-color:white;border-radius:5px;">
            <h2 class="mb-0" onclick="window.location.href = '/tripura'" style="color:black;font-weight:900;font-size:20px;font-family:'Lato Black',sans-serif">
                Kisna Jewellery Ads
              </h2> <br>
              <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"> <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/k5w43az7Rx9GwDzWnT6?autoplay=0&loop=0" width="100%" height="100%" allowfullscreen title="Dailymotion Video Player"> </iframe> </div>
  
          
          </div>
          <br>


        
          <div class="col-lg-8 col-md-12 order-lg-8" style="background-color:white;border-radius:5px;margin-top:10px;">
            <div class="section-title" style="padding:8px;margin-bottom: -2px;">
              <h2 class="mb-0" onclick="window.location.href = '/tripura'" style="color:black;font-weight:900;font-size:20px;font-family:'Lato Black',sans-serif">
                Tripura News
              </h2> 
              <a href="tripura" onclick="gaFireRhsWidgetViewAll('/tripura','rfu_widget_rhs',false,this); goUrlCollectionWebGApoc('/tripura','0','rfu_widget_rhs','','');" class="rightLink" style="float: right;
        width: 9px;
        height: 14px;
        background: url('https://www.livemint.com/lm-img/dev/rightBlock.svg') no-repeat 0 0;"></a>
            </div>
              {{#each tripuranews}}
      <div class="blog-post post-style-04" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;padding:5px;">
        <div class="blog-image"> 
          <img class="img-fluid" src="{{transformURL post_image}}" alt="">
        </div>
        <div class="blog-post-details"> 
          <h6 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
          <div class="blog-post-meta">
            <div class="blog-post-time" style="font-size:12px"> 
              <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
          </div>


        
        <div class="col-lg-4 col-md-12 order-lg-4" style="margin-top: 10px;">



              <div class="row">
                <img src="/images/ongc_ads.jpg">
              </div>
              <br>
              <div class="row">
                <img src="/images/longtrai-ads.png">
              </div>
{{!-- 
              <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"> <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/k2BjNUw6NTWTdWzxcJa?autoplay=0&loop=0" width="100%" height="100%" allowfullscreen title="Dailymotion Video Player"> </iframe> </div> --}}




{{!-- <iframe width="100%" height="250px" src="https://www.youtube.com/embed/gStDVaH6Yxk?autoplay=1" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> --}}






{{!-- <div id="jwplayer"></div>

    <script>
        var player = jwplayer("jwplayer").setup({
            file: "https://videos-cloudfront.jwpsrv.com/65226ea6_5d6abc11efabdc879da6607056885e25b1366059/content/conversions/zenzUkMv/videos/FLmu9Wyb-34613722.mp4",
            width: "100%",
            height: "100%",
            autostart: true, // Set to true if you want the video to autoplay
             // Set to true if you want the video to start muted
        });
      
    </script> --}}

    





              {{!-- <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/872234115?autoplay=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" allow=autoplay title="Longtharai Gura Masala"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> --}}

              {{!-- <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe id="vimeoPlayer" src="https://player.vimeo.com/video/872234115?autoplay=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" allow="autoplay" title="Longtharai Gura Masala"></iframe>
</div>

<script>
    var iframe = document.getElementById('vimeoPlayer');
    var player = new Vimeo.Player(iframe);

    player.play().catch(function(error) {
        console.error('Error playing the video:', error);
    });
</script> --}}
              

            {{!-- Start of Article --}}
              <div class="section-title" style="padding:8px;margin-bottom: -2px;">
                <h6 class="mb-0" style="color:black;font-weight:900;font-size:20px;font-family:'Lato Black',sans-serif">Article</h6> 
                <a href="/recommended-for-you" onclick="gaFireRhsWidgetViewAll('/recommended-for-you','rfu_widget_rhs',false,this); goUrlCollectionWebGApoc('/recommended-for-you','0','rfu_widget_rhs','','');" class="rightLink" style="float: right;
                width: 9px;
                height: 14px;
                background: url('https://www.livemint.com/lm-img/dev/rightBlock.svg') no-repeat 0 0;"></a>
              </div>


            <div class="row" style="margin-top:10px;display:block">
              {{#each article}}
                <div class="col" onclick="window.location.href = '/{{post_category}}/{{post_url}}'" style="padding-bottom:10px;">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-ing card-img-top" src="{{transformURL post_image}}" style="height: 200px;">
                    <div class="card-body" style="padding:10px;">
                      <h3 class="card-text" style="font-size: 15px;">{{post_name}}</h3>
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
              
            </div>
            {{!-- End of Article --}}

            




            {{!-- Social Media Widgets --}}
            <div class="widget">
              <h6 class="widget-title" style="font-family: 'Times New Roman', Times, serif;">Follow Us On Social</h6>
              <div class="follow-style-04">
                <div class="social">
                  <ul class="mb-0">
                    <li class="facebook">
                      <div class="social-icon">
                        <a href="https://www.facebook.com/profile.php?id=100086101862124"> <i class="fab fa-facebook-f"></i>Facebook</a>
                      </div>
                    </li>
                    <li class="twitter">
                      <div class="social-icon">
                       <a href="https://twitter.com/HeraldNortheast" style="display: flex;">
  <img src="/images/x-twitter.svg" alt="Twitter Icon" style="height: 30px;">
  Twitter
</a>


                      </div>   
                    </li>
                    <li class="youtube">
                      <div class="social-icon">
                        <a href="https://www.youtube.com/@northeastherald5966"><i class="fa-brands fa-youtube"></i>Youtube</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {{!-- End of Social Media Widget --}}
            <br>

          
        </div>
    </div>
    </div>
  </section>
  {{!-- End of Tripura News & Article --}}

  
  {{>check}}



  {{!-- Cricket Score --}}
  {{!-- <section class="space-sm-ptb mb-4">
    <div class="container" style="max-width: 1130px;">
 
           <div class="section-title">
              <h2 class="title mb-0" onclick="window.location.href = '/api/v1/album'"><i class="fa-solid fa-bolt-lightning" style="color: #032a63;"></i>Durga Puja Gallery</h2> </div>
            <div class="live-score-slider">
              <div class="row">
                <div class="col-lg-12" style="padding: 2%;background-color:#032a63">
                  <div class="owl-carousel owl-loaded owl-drag arrow-styel-04" data-nav-dots="false" data-nav-arrow="true" data-items="1" data-xl-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-autoheight="true" data-autoplay="false">
                    

                     <!-- item-01 -->
                    <!-- item-01 -->
{{#each pujaGallery}}
<div class="item lazy-load-image" onclick="window.location.href = '/photo/neh/gallery/{{gallery_url}}'">
  <div class="sport-tournament">
    <div class="tournament-details">
      <div class="">
        <img data-src="https://birdev.blr1.cdn.digitaloceanspaces.com/{{this.gallery_path.[0]}}" style="height:500px;">
      </div>
      <div class="">
        <h4 style="text-align: center;background-color:gray;color:white;font-size:20px;">{{gallery_title}}</h4>
      </div>
    </div>       
  </div>
</div>
{{/each}}

                  </div>
                </div>
              </div>
            </div>
          </div>

  </section> --}}
  {{!-- End of Cricket Score --}}


  {{!-- Cricket Score --}}
  <section class="space-sm-ptb mb-4">
    <div class="container" style="max-width: 1130px;">
 
           <div class="section-title">
              <h2 class="title mb-0" onclick="window.location.href = '/api/v1/album'"><i class="fa-solid fa-bolt-lightning" style="color: #032a63;"></i>Daily News Photo Album</h2> </div>
            <div class="live-score-slider">
              <div class="row">
                <div class="col-lg-12" style="padding: 2%;background-color:#032a63">
                  <div class="owl-carousel owl-loaded owl-drag arrow-styel-04" data-nav-dots="false" data-nav-arrow="true" data-items="1" data-xl-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-autoheight="true" data-autoplay="false">
                    

                     <!-- item-01 -->
                    <!-- item-01 -->
{{#each gallery}}
<div class="item lazy-load-image" onclick="window.location.href = '/photo/neh/gallery/{{gallery_url}}'">
  <div class="sport-tournament">
    <div class="tournament-details">
      <div class="">
        <img data-src="/news/{{this.gallery_path.[0]}}" style="height:500px;">
      </div>
      <div class="">
        <h4 style="text-align: center;background-color:gray;color:white;font-size:20px;">{{gallery_title}}</h4>
      </div>
    </div>       
  </div>
</div>
{{/each}}

                  </div>
                </div>
              </div>
            </div>
          </div>

  </section>
  {{!-- End of Cricket Score --}}





  {{!-- National News --}}
  <section class="space-lg-pb explore-products">
    <div class="container" style="max-width: 1130px;">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="news-sport-posts">
            <div class="section-title">
              <h2 class="title mb-0" onclick="window.location.href = '/national'"><i class="fa-solid fa-bolt-lightning" style="color: #032a63;"></i>National</h2> </div>
            <div class="news-tab">
              
              <div class="tab-content" id="pills-tabContent02">
               
                <div class="tab-pane fade active show" id="pills-gaming" role="tabpanel" aria-labelledby="pills-gaming-tab" tabindex="0">
                  <div class="row">
                    
                    {{#each nationalone}}
                    <div class="col-md-6 col-lg-12 col-xl-6">
                      <div class="blog-post post-style-03">
                        <div class="blog-image"> <img class="img-fluid" src="{{post_image}}" alt=""> </div> <span class="badge badge-large bg-purple">National</span>
                        <div class="blog-post-details">
                          <h6 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
                          <div class="blog-post-meta">
                            
                            <div class="blog-post-time" style="font-size:12px;"> <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a> </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    {{/each}}
                    
                    <div class="col-md-6 col-lg-12 col-xl-6">
                      {{#each nationalnews}}
                      <div class="blog-post post-style-04">
                        <div class="blog-image"> <img class="img-fluid" src="{{post_image}}" alt=""> </div>
                        <div class="blog-post-details"> 
                          <h6 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
                          <div class="blog-post-meta">
                            <div class="blog-post-time" style="font-size: 12px;"> <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a> </div>
                          </div>
                        </div>
                      </div>
                      {{/each}}

                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
          
        </div>
        <!--=================================
        explore-products -->

        <!--=================================
        sidebar -->
 
        <!--=================================
        sidebar -->

      </div>
    </div>
  </section>
  {{!-- End of National News --}}


    {{!-- Spot Lights --}}
  <section class="space-sm-ptb" style="background:url('/images/bg/01.jpg');">
    <div class="container" style="max-width: 1130px;">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2 class="mb-0" onclick="window.location.href = 'https://www.youtube.com/@northeastherald5966'" style="color:white;"><i class="fa-solid fa-bolt-lightning" style="color: white;"></i>Videos</h2> </div>
        </div>
      </div>
      <div class="row">
        {{#each fYotube}}
        <div class="col-md-4" onclick="window.location.href = 'https://www.youtube.com/watch?v={{video_key}}&ab_channel=NortheastHerald'" style="margin-bottom: 10px;">
          <div class="col">
            <div class="card shadow-sm">
              <iframe width="" height="200" src="https://www.youtube.com/embed/{{video_key}}" title="YouTube video player" frameborder="0" allow=" clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen onclick="window.location.href = 'https://www.youtube.com/watch?v={{video_key}}&ab_channel=NortheastHerald'"></iframe>
    
              <div class="card-body" style="padding:10px;">
                <h3 class="card-text" style="font-size: 15px;"></h3>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  {{!-- End of Spot Lights --}}





  {{!-- Sports News --}}
  <section class="space-lg-ptb explore-products">
    <div class="container" style="max-width: 1130px;">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="mb-4">
            <div class="section-title">
              <h2 class="title mb-0" onclick="window.location.href = '/sports'"><i class="fa-solid fa-bolt-lightning" style="color: #032a63;"></i>Sports</h2> </div>
            <div class="news-tab">
             


              <div class="tab-content" id="pills-tabContent04">
                
                <div class="tab-pane fade active show" id="pills-gaming04" role="tabpanel" aria-labelledby="pills-gaming-tab04" tabindex="0">
                  <div class="row">
                    
                    {{#each sportone}}
                    <div class="col-md-5 col-lg-12 col-xl-6">
                      <div class="blog-post post-style-03">
                        <div class="blog-image"> <img class="img-fluid" src="{{post_image}}" alt=""> </div> 
                        <div class="blog-post-details">
                          <h6 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
                          <div class="blog-post-meta">
                            <div class="blog-post-time" style="font-size: 12px;"> <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a> </div>
                          </div>
                          <p>{{{substr "200" meta_description}}}</p>
                        </div>
                      </div>
                    </div>
                    {{/each}}


                    <div class="col-md-7 col-lg-12 col-xl-6">
                      <div class="row">

                        {{#each sportnews}}
                        <div class="col-lg-6 col-sm-6">
                          <div class="blog-post post-style-02 mb-3">
                            <div class="blog-image"> <img class="img-fluid" src="{{post_image}}" alt=""> </div> 
                            <div class="custom-headlines">
                              <h6 class="custom-headlines"><a href="/{{post_category}}/{{post_url}}">{{post_name}}.</a></h6>
                              <div class="blog-post-time" style="font-size: 12px;"> <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a> </div>
                            </div>
                          </div>
                        </div>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>                
                
              </div>
            </div>
          </div>
          
        </div>






       
      </div>
    </div>
  </section>
  {{!-- End of Sports News --}}

  {{!-- International News --}}
  <section class="space-pb">
   <div class="container" style="max-width: 1130px;">
     <div class="row">
       <div class="col-lg-12 col-xl-12">
         <div class="news-medical-posts">
            <div class="section-title">
              <h2 class="title mb-0" onclick="window.location.href = '/international'"><i class="fa-solid fa-bolt-lightning" style="color: #032a63;"></i>International</h2>
            </div>
            <div class="news-tab">
              <div class="tab-content" id="pills-tabContent02">
                <div class="tab-pane fade active show" id="pills-gaming" role="tabpanel" aria-labelledby="pills-gaming-tab" tabindex="0">
                  <div class="row">
                    <div class="col-lg-12 col-xl-6 mb-4 mb-xl-0">
                      {{#each globalone}}
                      <div class="blog-post post-style-01">
                        <div class="blog-image">
                          <img class="img-fluid" src="{{post_image}}" alt="">
                        </div>
                        <div class="blog-post-details">
                         
                          <h5 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h5>
                          <div class="blog-post-meta">
                           
                            <div class="blog-post-time" style="font-size:12px;">
                              <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {{/each}}

                    </div>
                    <div class="col-lg-12 col-xl-6">
                      <ul class="list-unstyled current-list">
                        {{#each globalnews}}
                        <li class="d-flex"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                  <div class="row mt-4">
                    {{#each globaltwo}}
                    <div class="col-lg-4 col-md-4">
                      <h6 class="current-news blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
       
       </div>
       </div>
     </div>
   </div>
  </section>
  {{!-- End of International News --}}


  {{!-- Finanace News --}}
  <section class="space-lg-pb explore-products">
    <div class="container" style="max-width: 1130px;">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="news-sport-posts">
            <div class="section-title">
              <h2 class="title mb-0" onclick="window.location.href = '/finance'"><i class="fa-solid fa-bolt-lightning" style="color: #032a63;"></i>Finance</h2> </div>
            <div class="news-tab">
              
              <div class="tab-content" id="pills-tabContent02">
               
                <div class="tab-pane fade active show" id="pills-gaming" role="tabpanel" aria-labelledby="pills-gaming-tab" tabindex="0">
                  <div class="row">
                    
                    {{#each financeone}}
                    <div class="col-md-6 col-lg-12 col-xl-6">
                      <div class="blog-post post-style-03">
                        <div class="blog-image"> <img class="img-fluid" src="{{post_image}}" alt=""> </div> <span class="badge badge-large bg-purple">National</span>
                        <div class="blog-post-details">
                          <h6 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
                          <div class="blog-post-meta">
                            
                            <div class="blog-post-time" style="font-size:12px;"> <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a> </div>
                          </div>
                          <p>{{{substr "200" meta_description}}}</p>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                    
                    <div class="col-md-6 col-lg-12 col-xl-6">
                      {{#each finance}}
                      <div class="blog-post post-style-04">
                        <div class="blog-image"> <img class="img-fluid" src="{{post_image}}" alt=""> </div>
                        <div class="blog-post-details"> 
                          <h6 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
                          <div class="blog-post-meta">
                            <div class="blog-post-time" style="font-size: 12px;"> <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a> </div>
                          </div>
                        </div>
                      </div>
                      {{/each}}

                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
          
        </div>
        <!--=================================
        explore-products -->

        <!--=================================
        sidebar -->
 
        <!--=================================
        sidebar -->

      </div>
    </div>
  </section>
  {{!-- End of Finance News --}}


  {{!-- Entertainment News --}}
  <section class="space-lg-pb explore-products">
    <div class="container" style="max-width: 1130px;">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="news-sport-posts">
            <div class="section-title">
              <h2 class="title mb-0" onclick="window.location.href = '/showbiz'"><i class="fa-solid fa-bolt-lightning" style="color: #032a63;"></i>Entertainment</h2> </div>
            <div class="news-tab">
              
              <div class="tab-content" id="pills-tabContent02">
               
                <div class="tab-pane fade active show" id="pills-gaming" role="tabpanel" aria-labelledby="pills-gaming-tab" tabindex="0">
                  <div class="row">
                    
                    {{#each entertainmentone}}
                    <div class="col-md-6 col-lg-12 col-xl-6">
                      <div class="blog-post post-style-03">
                        <div class="blog-image"> <img class="img-fluid" src="{{post_image}}" alt=""> </div> <span class="badge badge-large bg-purple">National</span>
                        <div class="blog-post-details">
                          <h6 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
                          <div class="blog-post-meta">
                            
                            <div class="blog-post-time" style="font-size:12px;"> <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                    
                    <div class="col-md-6 col-lg-12 col-xl-6">
                      {{#each entertainment}}
                      <div class="blog-post post-style-04">
                        <div class="blog-image"> <img class="img-fluid" src="{{post_image}}" alt=""> </div>
                        <div class="blog-post-details"> 
                          <h6 class="blog-title"><a href="/{{post_category}}/{{post_url}}">{{post_name}}</a></h6>
                          <div class="blog-post-meta">
                            <div class="blog-post-time" style="font-size: 12px;"> <a href="/{{post_category}}/{{post_url}}"><i class="fa-solid fa-calendar-days"></i>{{substr "16" update_date}}</a> </div>
                          </div>
                        </div>
                      </div>
                      {{/each}}

                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
          
        </div>
        <!--=================================
        explore-products -->

        <!--=================================
        sidebar -->
 
        <!--=================================
        sidebar -->

      </div>
    </div>
  </section>
  {{!-- End of Entertainment News --}}

 



  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
  </div>

  <!-- JavaScript for Intersection Observer and Lazy Loading -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const lazyLoadImages = document.querySelectorAll(".lazy-load-image img");

      const observerOptions = {
        root: null,
        rootMargin: "0px",
        threshold: 0.1
      };

      const imageObserver = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            const img = entry.target;
            img.src = img.getAttribute("data-src");
            img.style.opacity = 1; // Optional: Fade in effect
            imageObserver.unobserve(img);
          }
        });
      }, observerOptions);

      lazyLoadImages.forEach(image => {
        imageObserver.observe(image);
      });
    });
  </script>

